.container-main {  
  display: grid;
  grid-template-columns: 0.2fr 1.9fr 0.9fr;
  grid-template-rows: 0.2fr 1.8fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "menu menu menu"
    "socials outlet outlet"
    "socials outlet outlet";
}
.menu { grid-area: menu; }
.socials { 
  grid-area: socials;
  position: absolute;
  top: 100px;
  left: 27px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
 }
.outlet {
  width: 70vw;
  grid-area: outlet; 
  margin: 0 30px 0 100px;
}


.container-portfolio {
  list-style: none;
  padding-left: 18px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  position: relative;

}

.container-menu-ul .active {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.container-menu-ul {
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 0 30px 0 100px;
  padding: 0;
  pointer-events: auto;
}
.container-menu-ul li {
  list-style: none;
  margin: 0;
}
.container-menu-ul li img {
  transition: transform .7s ease-in-out;
}
.container-menu-ul li img:hover {
  transform: rotate(360deg);
}
.container-menu-ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 20px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: .5s;
}
.container-menu-ul li a:hover {
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.container-menu-ul button {
  flex-shrink: 1;
  margin: 0;
  width: auto;
  background: rgba(31, 66, 250, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
.socials div {
  width: 1px;
  height: 500px;
  background: linear-gradient(
    180deg,
    #08b6f9 0%,
    #6c56ef 33.57%,
    #1306dd 65.86%,
    #aa0eb2 100%
  );
}
.socials img:hover {
  filter: drop-shadow(4px 4px 2px #646cffaa);
  transition: 0.2s ease-in-out;
}
.socials img:active {
  filter: drop-shadow(1px 1px 2px #646cffaa);
  transition: 0.5s ease-in-out;
  translate: 4px 4px;
}
.portfolio-link:hover {
  filter: drop-shadow(3px 3px 2px #efcd08aa);
  transition: 0.2s ease-in-out;
}
.portfolio-link:active {
  filter: drop-shadow(1px 1px 2px #646cffaa);
  transition: 0.5s ease-in-out;
  translate: 3px 3px;
}


.portfolio-grid-item-container {
  background-color: #61dafb20;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  height: 250px;
  width: 260px;
  grid-template-areas:
    "portfolio-grid-item-container-header-left portfolio-grid-item-container-header-right "
    "portfolio-grid-item-container-body portfolio-grid-item-container-body"
    "portfolio-grid-item-container-footer  portfolio-grid-item-container-footer ";
  
}

.portfolio-grid-item-container-header-left {
  grid-row: 1;
  grid-column: 1;
  justify-self: start;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
}
.portfolio-grid-item-container-header-right {
  grid-row: 1;
  grid-column: 2;
  justify-self: end;
  padding-right: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
}
.portfolio-grid-item-container-body {
  grid-column: 1/-1;
  grid-row: 2;
  padding-left: 10px;
  align-items: flex-start;
  padding-top: 8px;
}
.portfolio-grid-item-container-body h4 {
  margin-top: 0px;
}
.portfolio-grid-item-container-footer {
  padding-left: 10px;
  font-size:x-small;
  grid-row: 3;
  grid-column: 1 / -1;
  padding-bottom: 6px;
}

.header-my-name {
  white-space: nowrap;
}
body {
  margin: 0;
  overflow-x: hidden;
  
}
h1, h2 , h4 {
  
  font-family: "NocturneBold";

  
}
h1 {
  font-weight: bold;
  font-size: 70px;
  max-width: 500px;
  pointer-events: auto;
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
p{
  font-weight: normal;
  line-height: 150%;
  max-width: 420px;
  pointer-events: auto;
  text-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  
}
html,
body,
#root {
  max-width: 100%;
  background: #0e1129;
  text-align: left;
  padding: 0;
}
a {
  text-decoration: none;
}
button {
  background: rgba(0, 0, 0, 0.2);
  border: 0px;
  font-size: 16px;
  padding: 12px 30px;
  border-radius: 14px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 280px;
  backdrop-filter: blur(20px);
  font-weight: 600;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
  transition: .5s;
  cursor: pointer;
  pointer-events: auto;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
button:hover {
  border: 1px solid rgba(255, 255, 255, 0.8);
  transform: translateY(-3px);
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
  

.github-summary-img {
  border-radius: 14px;
  box-shadow:  0 10px 30px rgba(0, 0, 0, 0.5);
  transition: .5s;
  width: 420px;
}

.container-main-wrapper {
  font-family: "Spline Sans", sans-serif;
  color: white;
  font-size: 16px;
  margin: 0 auto;
  position: relative;
}
.container-main-wrapper .spline {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0px;
  left: 42px; 
  border-right: 1px solid;
  border-image: linear-gradient(to top , #0e1129, darkorchid) 1;
}

.resume-top-button-container {
  display: flex;
  flex-direction: row;
  padding-right: 24px;
  gap: 20px;
}
.container-main {
  position: absolute;
  top: 30px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.container-about { 
  position: relative;

  padding-left: 8px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  gap: 10px;  
}


.container-resume {
  
  position: relative;
  padding-bottom: 100px;
  padding-left: 12px;
  
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon-naked {
  margin: 0px;
  padding: 0px;
}


@font-face {
  font-family: "NocturneBold";
  src: local("NocturneBold"),
   url("./assets/nocturne-serif-bold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "Nocturne";
  src: local("Nocturne"),
   url("./assets/nocturne-serif-regular.otf") format("opentype");
  font-weight: normal;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
@media (max-width: 1024px) {
  .container-menu-ul{ 
    margin: 0 30px;
  }
  .outlet {
    margin: 0 30px 0 42px;
  }
  .socials { 
    left: 9px;
  }
  .container-main-wrapper .spline {
    left: 24px;
  }

  .container-about { 
    gap: 40px;
  }
  .container-main {
    gap: 50px;
  }
  .container-about h1 {
    font-size: 60px;
    max-width: 400px;
  }
  .container-about h1, .container-about h2 ,.container-about h4, .container-about p, .container-about div ,.container-about button {
    margin: 0 30px 0 30px;
  }
  .container-resume {
    gap: 40px;
  }
  .container-resume h1 {
    font-size: 60px;
    max-width: 400px;
  }
}
@media (max-width: 800px) {
  .outlet h1 {
    font-size: 40px;
    max-width: 300px;
  }
  .container-menu-ul {
    font-size: 14px;
    gap: 8px;
  }
  .container-portfolio {
    padding-left: 24px;
  }
  .container-portfolio-detail {
    padding-left: 24px;
  }
}

.back-button {
  text-decoration: none;
  color: white;
  padding: 5px 20px;
  width: fit-content;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: .5s;
  margin-top: 18px;
  font-style:oblique;
  float: left;

}
.back-button a:hover {
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
